services:
  backend:
    build: ./server
    container_name: backend
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "8080:8080"

  frontend:
    build: 
      context: ./client/sample-client
      args:
        VITE_API_URL: http://13.210.108.82:8080
    container_name: frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on: 
      - backend