services:
  backend:
    build: ./server
    container_name: backend
    restart: always
    env_file:
      - ./server/.env
    ports:
      - "8080:8080"

  frontend:
    build: ./client/sample-client
    container_name: frontend
    restart: always
    env_file:
      - ./client/sample-client/.env
    ports:
      - "3000:3000"
    depends_on: 
      - backend